
    body{
        display:flex;
        align-items:center;
       flex-direction:column;
       box-shadow: 20px;

    }
   .flex{
       text-align: center;
       box-shadow: 20px;
       clear: ;
 
    }
